<div class='header'>
  <div class='header_spacer'></div>
  <div class='title'>
    <h1>Add Message</h1>
  </div>
</div>

<div class='outer_container'>
  <div ng-include="'/views/navigation.html'"></div>

  <div class='add_message_content_container'>
    <div>
      <h3>Topic: {{ topic_name }}</h3>
    </div>
    <div>
      <form>
        <textarea rows='6' cols='50' ng-model='messageBody'></textarea>
        <br>
        <button ng-click='addMessage()'>Submit</button>
      </form>
    </div>
  </div>
</div>