<div class='navigation_bar' ng-controller="NavigationController">
  <div class='upper_navigation'>
    <a href ng-click="goToLocation('/')">Home</a>
    <a ng-if="verifiedUser" href ng-click="goToLocation('/logout')">Logout</a>
    <a ng-if="!verifiedUser" href ng-click="goToLocation('/login')">Login</a>
    <a ng-if="!verifiedUser" href ng-click="goToLocation('/register')">Register</a>
    <a href ng-click="goToLocation('/users')">Users</a>
  </div>

  <div class='border_div'></div>

  <div class='lower_navigation'>
    <a href ng-click="goToLocation('/latest')">Latest</a>
    <a ng-repeat='topic in topics' href ng-click="goToTopic(topic.id)">{{ topic.name }}</a>
  </div>
</div>