<div class='header'>
  <div class='header_spacer'></div>
  <div class='title'>
    <h1>Message Board Topics</h1>
  </div>
</div>

<div class='outer_container'>
  <div ng-include="'/views/navigation.html'"></div>

  <div class='topics_content_container'>
    <h2>Topic: {{ topic.name }}</h2>
    <h3>User: {{ topic.user.username }}</h3>
    <h4>Created At: {{ topic.created_at }}</h4>
    <button ng-if="verifiedUser" ng-click='addMessage()'>Add Message</button>
    <ol>
      <li ng-repeat='message in topic.messages'>
        <h4>User: {{ message.user.username }}</h4>
        <h4>Created At: {{ message.created_at }}</h4>
        <p>{{ message.body }}</p>
      </li>
    </ol>
  </div>
</div>